<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Force redirect from /public/ to root
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+public/
    RewriteRule ^public/(.*) /$1 [R=301,L,NC]
    
    # Alternative method for /public redirect
    RewriteCond %{REQUEST_URI} ^/public/(.*)$
    RewriteRule ^ %1 [R=301,L]
    
    # Redirect /public to root
    RewriteCond %{REQUEST_URI} ^/public/?$
    RewriteRule ^public/?$ / [R=301,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ weight.mma7.date/index.php [L]
</IfModule>
